# spell-checker: disable

# Logs
logs
*.log
*.log.*

# Node-related directories
node_modules
coverage

# Other junk files
*.bak
*.local
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
db.json
*.tmp
**/*.tmp
*.tmp.*

.env*
!.env.test
!.env.example
*.sqlite

# Potentially secret data
.env
data

image.tar
