# spell-checker: disable

# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node-related directories
node_modules
coverage

# Other junk files
*.bak
*.local
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
db.json
*.tmp
**/*.tmp
*.tmp.*

.env*
!.env.test
!.env.example
*.sqlite

# Exclude dist from frontend
dist

# Potentially secret data
.env

image.tar
