{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
